<div class="entry-center">
    <h2>CATALOG</h2>
</div>

<div class="scroll-placeholder">

    <div class="scroll-wrap">

        <div onclick="selectProd(0)">
            <img src="assets/img/twigs.jpg" alt="twigs" />
            <h2>Set of Twigs</h2>
        </div>

        <div onclick="selectProd(1)">
            <img src="assets/img/yarn2.jpg" alt="twigs" />
            <h2>Ball of Yarn</h2>
        </div>

        <div onclick="selectProd(2)">
            <img src="assets/img/spider.jpg" alt="twigs" />
            <h2>Venomous Spider</h2>
        </div>

        <div onclick="selectProd(3)">
            <img src="assets/img/muffin1.jpg" alt="twigs" />
            <h2>Creamy Muffin</h2>
        </div>

        <div onclick="selectProd(4)">
            <img src="assets/img/muffin2.jpg" alt="twigs" />
            <h2>Berry Muffin</h2>
        </div>

        <div onclick="selectProd(5)">
            <img src="assets/img/covid.jpg" alt="twigs" />
            <h2>COVID-19</h2>
        </div>

        <div onclick="selectProd(6)">
            <img src="assets/img/disc.jpg" alt="twigs" />
            <h2>#1 Beatles CD</h2>
        </div>

        <div onclick="selectProd(7)">
            <img src="assets/img/books.jpg" alt="twigs" />
            <h2>JS Tutorials</h2>
        </div>

    </div>
</div>

<div class="entry-center">
    <h2>CART</h2>
    <div id="cart-entry" class="entry">
        <i>selected products will be listed here</i>
    </div>
    <input type="button" value="purchase" onclick="buySelected()">
</div>
