* {
    -ms-overflow-style: none;
    box-sizing: border-box;
    font-family: "Purisa";
    font-size: 2vw;
}

*::-webkit-scrollbar {
  display: none;
}

.input {
    background-color: white;
}

/* BODY ---------------------------------------------------------------------*/
body {
    /* background: #FFF0F5; */
}

/* HEADER -------------------------------------------------------------------*/
.header {
    padding: 1vw;
    font-size: 3vw;
    text-align: center;
    border: 1vw double black;
}

.header h1 {
    font-size: 6vw;
    text-shadow: 0 0 8vw #FF5C00;
}

/* NAV ----------------------------------------------------------------------*/
.nav {
    overflow: hidden;
    border-bottom: 0.2vw solid black;
}

.nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: black;
    color: white;
}

/* MAIN-CARD ----------------------------------------------------------------*/

.entry {
    float: center;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 5vw;
    border-bottom: 0.1vw dashed grey;
}

.entry-center {
    border-left: 0.5vw solid black;
    border-right: 0.5vw solid black;
    text-align: center;
}

.entry-left {
    border-left: 0.5vw solid black;
    text-align: left;
}

.entry-right {
    border-right: 0.5vw solid black;
    text-align: right;
}

.entry h2 {
    font-size: 3vw;
    text-shadow: 0 0 5vw cyan;
}

.entry img {
    height: 20vw;
    width: 20vw;
}

/* COLUMNS ------------------------------------------------------------------*/
.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* FOOTER -------------------------------------------------------------------*/
.footer {
    padding: 20px;
    text-align: center;
    background: #D08AAF;
    margin-top: 20px;
    color: white;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .nav a {
        float: none;
        width: 100%;
        border-top: 1px solid black;
    }
}
